<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{QUERY_STRING} [<>'"{}()] [NC,OR]
    RewriteCond %{QUERY_STRING} (union.*select|select.*from|insert.*into|delete.*from|update.*set|drop.*table|show.*tables|alter.*table|truncate.*table|exec|execute|concat|../|--) [NC]
    RewriteRule ^.*$ /maintenance.html [L]
    # RewriteRule .* - [F,L]

</IfModule>

Options -Indexes
